main .section {
  padding: 100px 0;
}
main .section .section__div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
main .section .section__div .section__div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main .section .section__div .section__div-right h2 {
  font-size: 32px;
  color: #091133;
}
main .section .section__div .section__div-right p {
  padding: 10px 0;
  line-height: 25px;
  color: #6F7CB2;
}
main .section .section__div .section__div-right button {
  background-color: #091133;
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  main .section {
    padding: 80px 0;
  }
  main .section .section__div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .section .section__div .section__div-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .section .section__div .section__div-right h2 {
    font-size: 32px;
    color: #091133;
    text-align: center;
  }
  main .section .section__div .section__div-right p {
    padding: 10px 0;
    line-height: 25px;
    color: #6F7CB2;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .section__div-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section__div-left img {
    width: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .section__div-left img {
    width: 200px;
  }
}
@media only screen and (max-width: 650px) {
  .section__div-left img {
    width: 120px;
  }
}
header p {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #fff;
}

.logo {
  color: #000;
  text-transform: capitalize;
  font-size: 24px;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 1px;
}
.logo span {
  color: deepskyblue;
}

.menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.menu li {
  list-style: none;
}
.menu a {
  color: #505F98;
  text-decoration: none;
  font-size: 15px;
  padding: 30px;
  font-weight: 600;
  transition: 0.9s;
}
.menu a:hover {
  letter-spacing: 2px;
}

.bar {
  display: none;
  cursor: pointer;
}
.bar div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .menu {
    position: absolute;
    right: -100%;
    height: 90vh;
    top: 10vh;
    background-color: #000;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .bar {
    display: block;
  }
}
.nav-active {
  transform: translateX(-100%);
}

.bar-active .bar-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar-active .bar-2 {
  opacity: 0;
}
.bar-active .bar-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.banner {
  background: rgb(255, 255, 255);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.content h2 {
  font-family: alfa slab one;
  width: 600px;
  font-size: 60px;
}
.content p {
  width: 50%;
  color: #505F98;
  line-height: 2;
}

.btn a {
  text-decoration: none;
  padding: 15px 10px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 50px;
  width: 130px;
  text-align: center;
}

.wrapper {
  width: 1060px;
  margin: auto;
  padding-top: 12%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 75%;
    padding-top: 26%;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    font-size: 60px;
  }
  .content p {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    background-position: 60%;
  }
  .wrapper {
    width: 75%;
    padding-top: 26%;
  }
  .content h2 {
    font-size: 25px;
  }
  .content p {
    width: 100%;
  }
  .btn a {
    padding: 9px 4px;
    width: 105px;
  }
}/*# sourceMappingURL=all.css.map */