      footer 
          div.footer__div
            div 
               h1 A Price To Suit Everyone
            div   
               p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
               p  eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient 
               p montes, nascetur ridiculus 
            div 
               h1 $40
            div 
               h3 UI Design Kit
            div  
               h3 See, One price. Simple.
            div  
               button Purchase Now
         