main 
   section.section 
    div.section__div.continer 
      div.section__div-left 
        img(src="/img/undraw_happy_news_hxmt.svg", alt="")
      div.section__div-right  
        h2 Light, Fast & Powerful
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        p mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
   section.section 
    div.section__div.continer 
      div.section__div-left 
        img(src="/img/undraw_social_influencer_sgsv.svg", alt="")
      div.section__div-right  
        h2 Light, Fast & Powerful
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        p mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
   section.section 
    div.section__div.continer 
      div.section__div-left 
        img(src="/img/undraw_mention_6k5d.png", alt="")
      div.section__div-right  
        h2 Light, Fast & Powerful
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        p mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

    
